.card-container {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 350px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(30, 30, 30, 0.2);
  cursor: pointer;
}

.card-container .alert-bar {
  height: 50px;
  background: #e02041;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container .alert-bar strong {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.card-container .content {
  width: 100%;
  height: 300px;
  padding: 14px 32px;
}

.card-container .content h1 {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 28px;
}

.card-container .content .time-ago {
  position: absolute;
  bottom: 14px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  left: 0px;
}

.card-container .content .sensor-info {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  margin: 18px auto;
}
